<div>
  <div>
    <img src="" alt="" />
    <h2>Become an Admin</h2>
    <p>Answer this question to unlock admin privileges.</p>
    <p>What animal says 'meow' ?</p>
    <form action="/roles/admin">
      <div>
        <label for="key">Your Answer</label
        ><input
          type="text"
          name="key"
          id="key"
          required
          disabled
          placeholder="dog?"
        />
      </div>
      <button type="submit" disabled>Submit Answer</button>
    </form>
  </div>
</div>
