<div class="role-complete">
  <div class="sign-wrapper">
    <img src="./icons/check-all-50.svg" alt="completed sign" />
  </div>
  <h2>You're an Admin!</h2>
  <p class="question">
    You have full access to all admin features. Admin can delete their own posts. Though I suggest to keep posts so others can see them.
  </p>
</div>