<div class="role-applying-card">
  <div class="role-details">
    <div class="passkey-wrapper">
      <img src="./icons/passkey-50.svg" alt="passkey sign" />
    </div>
    <h2>Become a member</h2>
    <p class="question">
      Answer this simple question to unlock member privileges
    </p>
    <p class="quest-paragraph">What is 10 + 10 ?</p>
  </div>
  <form action="/roles/member" method="POST" class="role-form">
    <div>
      <% if(memberAuthErr) { %>
      <div class="auth-errs">
        <p><%= memberAuthErr %></p>
      </div>
      <% }  %>
      <label for="key">Your answer</label><input type="number" required id="key" name="key" placeholder="Enter your answer in number" />
    </div>
    <button type="submit" class="btn-grad2">Submit Answer</button>
  </form>
</div>