<div class="role-complete">
  <div class="sign-wrapper">
    <img src="./icons/check-50.svg" alt="competed sign" />
  </div>
  <h2>You're a Member!</h2>
  <p>
    You have full access to all member features such as view the author of post
    and their role
  </p>
</div>
