<header>
  <div>
      <h1 id="logo"><a href="/" class="header-homepage-logo-link">Members Only</a></h1>
    
    <button type="button" id="header-menu-button"></button>
  </div>
  <% if(locals.currentUser){ %>
    <%- include('partials/nav-logged-in') %>
  <%} else{ %>
<%- include('partials/nav-no-loggedin') %>

  <% } %>
</header>
