<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('common-dependencies') %>
    <link rel="stylesheet" href="./styles/index.css" />
    <title>Members Only</title>
  </head>
  <body>
    <%- include('header') %>
    <main>
      <div id="info-div">
        <h1>Welcome to Members Only!</h1>
        <p>A private clubhouse for exclusive conversations</p>
        <div>
          <a href="/log-in" class="log-in"> Log In </a
          ><a href="/sign-up" class="sign-up"> Register </a>
        </div>
      </div>
      <section id="posts-section">
        <h2>Recent Posts</h2>
        <div class="posts-container">
          <p><em>No posts yet. Be the first</em></p>
        </div>
      </section>
    </main>
    <%- include('footer') %>
  </body>
</html>
