<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('common-dependencies') %>
    <link rel="stylesheet" href="./styles/index.css" />
    <title>Members Only</title>
  </head>
  <body>
    <%- include('header') %>
  </body>
</html>
