html[data-theme="light"] {
  --grey: #575757;
  --background-color: #f8f8f8;
  --text: #000000bd;
  --em-text: #000000e1;
  --pink: #b93673;
  --theme-button-border-color: black;
}

html[data-theme="dark"] {
  color-scheme: dark;
  --grey: #f8f8f8;
  --background-color: #1b1b1b;
  --text: #ffffffbd;
  --em-text: #ffffff;
  --pink: #b93673;
  --theme-button-border-color: white;
}
