html {
  display: grid;
  --main-bg-color: rgb(243, 244, 246);
  --nav-button-text-color: white;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
}

main {
  padding: 5px 15px;
  background-color: var(--main-bg-color);
}

div#info-div * {
  text-align: center;
}

div#info-div > h1 {
  line-height: 0.8;
  margin-top: 2rem;
}

div#info-div > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
div#info-div > div > a {
  text-decoration: none;
  color: var(--nav-button-text-color);
  padding: 15px;
  border-radius: 15px;
}

div#info-div > div > a.log-in {
  background-color: rgb(23, 93, 249);
}
div#info-div > div > a.sign-up {
  background-color: rgb(0, 166, 63);
}
#posts-section > h2 {
  padding-top: 20px;
}
#posts-section > div.posts-container {
  border: 1px solid rgb(128, 128, 128, 0.5);
  border-radius: 5px;
  padding: 0 5px;
}
