html[data-theme="light"] {
  --nav-button-text-color: white;
  --sign-up-bg: rgb(0, 166, 63);
  --log-in-bg: rgb(23, 93, 249);
  --log-in-bgimg: none;
  --sign-up-bgimg: none;
  --post-bg: white;
  --message: #364153;
  --post-date: rgb(123, 123, 124);
  --hover-shadow:
    rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  --post-shadow:
    rgba(65, 46, 46, 0.15) 2.4px 2.4px 3.2px,
    rgba(65, 46, 46, 0.15) -2.4px -2.4px 3.2px;
}
html[data-theme="dark"] {
  --sign-up-bg: none;
  --log-in-bg: none;
  --log-in-bgimg: linear-gradient(
    to right,
    #16222a 0%,
    #3a6073 51%,
    #16222a 100%
  );
  --sign-up-bgimg: linear-gradient(
    to right,
    #4b6cb7 0%,
    #182848 51%,
    #4b6cb7 100%
  );
  --sign-up-border: 1px solid white;
  --post-bg: black;
  --message: rgb(196, 196, 196);
  --post-date: rgb(196, 196, 196);
  --post-border: 1px solid rgba(156, 156, 156, 0.5);
  --btn-border: 1px solid rgb(255, 255, 255, 0.8);
}

html {
  display: grid;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
}

div#info-div * {
  text-align: center;
}

div#info-div > h1 {
  line-height: 0.8;
  margin-top: 2rem;
}

div#info-div > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div#info-div > div > a {
  text-decoration: none;
  color: var(--nav-button-text-color);
  padding: 15px;
  border-radius: 15px;
  max-width: 400px;
}

/* post card styles */
.post-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  background-color: var(--post-bg);
  border-radius: 8px;
  box-shadow: var(--post-shadow);
  border: var(--post-border);
}

.post-card p,
.post-card h3 {
  margin: 0px;
}

.post-card > .post-card-user-info {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.post-card-user-info > p {
  display: flex;
  gap: 15px;
  align-items: center;
}

.post-card-user-info .post-date {
  font-size: 0.9rem;
  color: var(--post-date);
}

.post-card > .post-card-data {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  grid-gap: 15px;
}

.post-card-data > p {
  color: var(--message);
}

.admin,
.member,
.admin-plus {
  font-size: 0.86rem;
  padding: 4px 7px;
  border-radius: 6px;
}

.admin {
  color: #5d0ec0;
  background-color: #ede9fe;
}
.member {
  background-color: #dbeafe;
  color: #193cb8;
}

.admin-plus {
  background-color: rgb(255, 246, 196);
  color: orangered;
}

.blur {
  filter: blur(5px);
  font-weight: 900;
}

.link-delete {
  text-decoration: none;
  color: inherit;
  width: 100%;
  margin: 0px;
  width: 10%;
}

.link-delete:visited {
  color: inherit;
}

@media screen and (min-width: 446px) {
  div#info-div > div > a {
    align-self: center;
    min-width: 400px;
  }
}
div#info-div > div > a.log-in {
  background-color: var(--log-in-bg);
  border: var(--sign-up-border);
  background-image: var(--log-in-bgimg);
}

div#info-div > div > a.sign-up {
  background-color: var(--sign-up-bg);
  border: var(--sign-up-border);
  background-image: var(--sign-up-bgimg);
}
#posts-section {
  display: flex;
  flex-direction: column;
}

#posts-section > div.posts-container {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.new-message-button {
  text-decoration: none;
  color: white;
  background-color: var(--log-in-bg);
  background-image: var(--log-in-bgimg);
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
  border-radius: 5px;
  border: var(--btn-border);
}

@media screen and (min-width: 768px) {
  div#info-div > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 30px auto;
  }
  div#info-div > div > a {
    min-width: 200px;
  }
}
