html[data-theme="light"] {
  --nav-button-text-color: white;
  --sign-up-bg: rgb(0, 166, 63);
  --log-in-bg: rgb(23, 93, 249);
  --log-in-bgimg: none;
  --sign-up-bgimg: none;
}
html[data-theme="dark"] {
  --sign-up-bg: none;
  --log-in-bg: none;
  --log-in-bgimg: linear-gradient(
    to right,
    #16222a 0%,
    #3a6073 51%,
    #16222a 100%
  );
  --sign-up-bgimg: linear-gradient(
    to right,
    #4b6cb7 0%,
    #182848 51%,
    #4b6cb7 100%
  );
  --sign-up-border: 1px solid white;
}

html {
  display: grid;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
}

div#info-div * {
  text-align: center;
}

div#info-div > h1 {
  line-height: 0.8;
  margin-top: 2rem;
}

div#info-div > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div#info-div > div > a {
  text-decoration: none;
  color: var(--nav-button-text-color);
  padding: 15px;
  border-radius: 15px;
  max-width: 400px;
}

@media screen and (min-width: 446px) {
  div#info-div > div > a {
    align-self: center;
    min-width: 400px;
  }
}
div#info-div > div > a.log-in {
  background-color: var(--log-in-bg);
  border: var(--sign-up-border);
  background-image: var(--log-in-bgimg);
}

div#info-div > div > a.sign-up {
  background-color: var(--sign-up-bg);
  border: var(--sign-up-border);
  background-image: var(--sign-up-bgimg);
}
#posts-section {
  display: flex;
  flex-direction: column;
}

#posts-section > div.posts-container {
  border: 1px solid rgb(128, 128, 128, 0.5);
  border-radius: 5px;
  padding: 0 5px;
}

.new-message-button {
  text-decoration: none;
  color: white;
  background-color: var(--log-in-bg);
  background-image: var(--log-in-bgimg);
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  div#info-div > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 30px auto;
  }
  div#info-div > div > a {
    min-width: 200px;
  }
}
