html[data-theme="light"] {
  --nav-button-text-color: white;
  --sign-up-bg: rgb(0, 166, 63);
  --log-in-bg: rgb(23, 93, 249);
}
html[data-theme="dark"] {
  --sign-up-bg: #393567;
  --log-in-bg: rgb(48, 48, 48);
  --sign-up-border: 1px solid white;
}

html {
  display: grid;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
}

div#info-div * {
  text-align: center;
}

div#info-div > h1 {
  line-height: 0.8;
  margin-top: 2rem;
}

div#info-div > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div#info-div > div > a {
  text-decoration: none;
  color: var(--nav-button-text-color);
  padding: 15px;
  border-radius: 15px;
}

div#info-div > div > a.log-in {
  background-color: var(--log-in-bg);
  border: var(--sign-up-border);
}
div#info-div > div > a.sign-up {
  background-color: var(--sign-up-bg);
  border: var(--sign-up-border);
}
#posts-section {
  display: flex;
  flex-direction: column;
}

#posts-section > div.posts-container {
  border: 1px solid rgb(128, 128, 128, 0.5);
  border-radius: 5px;
  padding: 0 5px;
}

.new-message-button {
  text-decoration: none;
  color: white;
  background-color: blue;
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
  border-radius: 5px;
}
