html[data-theme="light"] {
  --log-in-bg: white;
  --log-in-border: 1px solid rgba(185, 184, 184, 0.5);
  --input-bg: rgb(232, 240, 253);
  --log-in-label: rgb(83, 83, 83);
  --input-border: 1px solid rgb(128, 128, 128, 0.5);
  --submit-bg: rgb(23, 93, 249);
  --log-in-bgimg: none;
}
html[data-theme="dark"] {
  --log-in-bgimg: linear-gradient(
    to right,
    #16222a 0%,
    #3a6073 51%,
    #16222a 100%
  );
  --log-in-bg: black;
  --input-border: 1px solid white /* --input-bg: grey; */;
  --log-in-border: 1px solid rgb(211, 208, 208, 0.5);
  --submit-bg: none;
  --submit-border: 1px solid rgb(255, 255, 255, 0.5);
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 5px 15px;
}
.log-in-form-details {
  text-align: center;
}

#log-in-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  background-color: var(--log-in-bg);
  padding: 30px 20px;
  border: var(--log-in-border);
  border-radius: 8px;
}

#log-in-form > div {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
#log-in-form input {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
  background-color: var(--input-bg);
  border: var(--input-border);
}

#log-in-form label {
  color: var(--log-in-label);
}
#log-in-form button {
  font-size: 1rem;
  padding: 8px;
  background-color: var(--submit-bg);
  background-image: var(--log-in-bgimg);
  color: white;
  font-weight: 700;
  border-radius: 8px;
  border: var(--submit-border);
}

.sign-up-link {
  text-align: center;
}

.auth-errs {
  background-color: oklch(93.6% 0.032 17.717);
  color: oklch(50.5% 0.213 27.518);
  padding: 0px 10px;
  border-radius: 8px;
  border: 1px solid oklch(88.5% 0.062 18.334);
}
