main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 5px 15px;
}
.log-in-form-details {
  text-align: center;
}

#log-in-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  background-color: white;
  padding: 30px 20px;
  border: 1px solid rgba(185, 184, 184, 0.5);
  border-radius: 8px;
}

#log-in-form > div {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
#log-in-form input {
  padding: 5px 5px;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
  background-color: rgb(232, 240, 253);
  border: 1px solid rgb(128, 128, 128, 0.5);
}

#log-in-form label {
  color: rgb(83, 83, 83);
}
#log-in-form button {
  font-size: 1rem;
  padding: 8px;
  background-color: rgb(23, 93, 249);
  color: white;
  font-weight: 700;
  border-radius: 8px;
  border: none;
}

.sign-up-link {
  text-align: center;
}
