html[data-theme="light"] {
  --log-in-bg: white;
  --log-in-border: 1px solid rgba(185, 184, 184, 0.5);
  --input-bg: rgb(232, 240, 253);
  --log-in-label: rgb(83, 83, 83);
  --input-border: 1px solid rgb(128, 128, 128, 0.5);
  --submit-bg: rgb(23, 93, 249);
}
html[data-theme="dark"] {
  --log-in-bg: black;
  --input-border: 1px solid white /* --input-bg: grey; */;
  --log-in-border: 1px solid rgb(211, 208, 208, 0.5);
  --submit-bg: rgb(57, 53, 103);
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 5px 15px;
}
.log-in-form-details {
  text-align: center;
}

#log-in-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  background-color: var(--log-in-bg);
  padding: 30px 20px;
  border: var(--log-in-border);
  border-radius: 8px;
}

#log-in-form > div {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
#log-in-form input {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
  background-color: var(--input-bg);
  border: var(--input-border);
}

#log-in-form label {
  color: var(--log-in-label);
}
#log-in-form button {
  font-size: 1rem;
  padding: 8px;
  background-color: var(--submit-bg);
  color: white;
  font-weight: 700;
  border-radius: 8px;
  border: none;
}

.sign-up-link {
  text-align: center;
}
