html[data-theme="light"] {
  --log-in-bg: white;
  --log-in-border: 1px solid rgba(185, 184, 184, 0.5);
  --input-bg: rgb(232, 240, 253);
  --log-in-label: rgb(83, 83, 83);
  --input-border: 1px solid rgb(128, 128, 128, 0.5);
  --submit-bg: rgb(23, 93, 249);
  --cancel-bg: rgb(165, 164, 164);
  --cancel-color: rgb(49, 49, 49);
}
html[data-theme="dark"] {
  --log-in-bg: black;
  --input-border: 1px solid white /* --input-bg: grey; */;
  --log-in-border: 1px solid rgb(211, 208, 208, 0.5);
  --submit-bg: rgb(57, 53, 103);
  --cancel-bg: rgb(165, 164, 164);
  --cancel-color: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.form-detail > * {
  text-align: center;
}

#new-post-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  background-color: var(--log-in-bg);
  padding: 30px 20px;
  border: var(--log-in-border);
  border-radius: 8px;
}

#new-post-form > div {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

#new-post-form input,
#new-post-form textarea {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
  background-color: var(--input-bg);
  border: var(--input-border);
}

#new-post-form textarea {
  resize: none;
  height: 200px;
}

#new-post-form label {
  color: var(--log-in-label);
}
#new-post-form button,
#new-post-form .cancel-button {
  font-size: 1rem;
  padding: 8px;
  color: white;
  font-weight: 700;
  border-radius: 8px;
  border: none;
}

#new-post-form button {
  background-color: var(--submit-bg);
}
.cancel-button {
  text-align: center;
  text-decoration: none;
  background-color: var(--cancel-bg);
  color: var(--cancel-color);
}

.cancel-button:visited {
  text-decoration: none;
  color: inherit;
}
