html[data-theme="light"] {
  --btn-bg: white;
}

html[data-theme="dark"] {
  --btn-bg: black;
}

.post {
  position: relative;
}

/* Kebab button */
.kebab-btn {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

/* Menu */
.post-menu {
  position: absolute;
  top: 36px;
  right: 8px;
  background: var(--btn-bg);
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  min-width: 120px;

  opacity: 0;
  transform: translateY(-8px);
  pointer-events: none;

  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

/* Visible state */
.post-menu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* Menu items */
.post-menu button {
  display: block;
  width: 100%;
  padding: 12px 16px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
}

.delete {
  color: red;
}

/* .post-menu button:hover {
  background: #f2f2f2;
} */

@media (max-width: 480px) {
  .post-menu {
    right: 0;
    left: auto;
    min-width: 160px;
  }
}
