html[data-theme="light"] {
  --card-bg: white;
  --card-border: 1px solid rgba(185, 184, 184, 0.5);
  --input-bg: rgb(232, 240, 253);
  --card-label: rgb(83, 83, 83);
  --input-border: 1px solid rgb(128, 128, 128, 0.5);
  --submit-bg: rgb(23, 93, 249);
  --quest-bg: #f3f4f6;
  --question: oklch(44.6% 0.03 256.802);
  --sign-up-bgimg: none;
}
html[data-theme="dark"] {
  --sign-up-bgimg: linear-gradient(
    to right,
    #4b6cb7 0%,
    #182848 51%,
    #4b6cb7 100%
  );
  --card-bg: black;
  --input-border: 1px solid white /* --input-bg: grey; */;
  --card-border: 1px solid rgb(211, 208, 208, 0.5);
  --submit-bg: none;
  --quest-bg: rgb(65, 65, 65);
  --question: rgb(177, 177, 177);
}

.information > * {
  text-align: center;
}

button[type="submit"] {
  font-size: 1rem;
  padding: 8px;
  color: white;
  background-color: var(--submit-bg);
  background-image: var(--sign-up-bgimg);
  font-weight: 700;
  border-radius: 8px;
  border: none;
}

/* role applying styles */
.role-applying-card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: var(--card-bg);
  border: var(--card-border);
  border-radius: 8px;
  margin-bottom: 20px;
}

.role-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passkey-wrapper {
  background-color: rgb(218, 235, 255);
  padding: 15px;
  border-radius: 100px;
}

.quest-paragraph {
  background-color: var(--quest-bg);
  width: 100%;
  text-align: center;
  padding: 20px;
}
.question {
  color: var(--question);
}

.role-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.role-form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.role-form > div > input {
  padding: 8px 15px;
}

.role-form > button[type="submit"] {
  padding: 8px;
}
.auth-error-msg {
  color: red;
}

/* 
roles completed card styles */

.role-complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-bg);
  border: var(--card-border);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}

.sign-wrapper {
  background-color: rgb(219, 253, 231);
  padding: 15px;
  border-radius: 100px;
}
.passkey-wrapper.gold-passkey {
  background-color: rgb(247, 247, 134);
}
.role-complete > p {
  text-align: center;
}
.auth-errs {
  background-color: oklch(93.6% 0.032 17.717);
  color: oklch(50.5% 0.213 27.518);
  padding: 0px 10px;
  border-radius: 8px;
  border: 1px solid oklch(88.5% 0.062 18.334);
}
