@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Google Sans";
  src: url("./../fonts/GoogleSansFlex.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Rubik Moonrocks";
  src: url("./../fonts/RubikMoonrocks.ttf") format("truetype");
  font-display: swap;
}

:root {
  font-family:
    "Roboto",
    "Inter",
    "Google Sans",
    system-ui,
    -apple-system;
  box-sizing: border-box;
}

html[data-theme="light"] {
  --heading-background-color: blue;
  --heading-border: none;
  --menu-button-src: url("./../icons/menu-black-30.svg");
  --menu-button-bg: white;
  --main-bg-color: rgb(243, 244, 246);
}
html[data-theme="dark"] {
  --heading-background-color: black;
  --heading-border: 2px solid white;
  --menu-button-src: url("./../icons/menu-white-30.svg");
  --menu-button-bg: black;
  --main-bg-color: rgb(27, 27, 27);
}
html {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
  display: grid;
  margin: 0;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
  border-bottom: 3px solid rgba(185, 184, 184, 0.5);
}

header > div:nth-of-type(1) {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
header h1#logo {
  font-family: "Rubik Moonrocks", "Inter", "Roboto", "Google Sans";
  color: white;
  background-color: var(--heading-background-color);
  border: var(--heading-border);
  padding: 5px 10px;
  border-radius: 10px;
}
.header-homepage-logo-link {
  text-decoration: none;
  height: min-content;
}

.header-homepage-logo-link:visited {
  color: inherit;
}

.hidden {
  display: none !important;
}
header button#header-menu-button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 30px;
  background-image: var(--menu-button-src);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-origin: border-box;
  background-color: var(--menu-button-bg);
}

header nav#header-nav {
  display: grid;
  grid-template-columns: 1fr;
}
nav#header-nav > a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

nav#header-nav > button#theme-toggle {
  background-color: inherit;
  border: none;
  font-size: 1rem;
  margin: 5px auto;
  padding: 10px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid rgba(185, 184, 184, 0.5);
}

main {
  padding: 5px 15px;
  background-color: var(--main-bg-color);
}
