@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Google Sans";
  src: url("./../fonts/GoogleSansFlex.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Rubik Moonrocks";
  src: url("./../fonts/RubikMoonrocks.ttf") format("truetype");
  font-display: swap;
}

:root {
  font-family:
    "Inter",
    "Google Sans",
    "Roboto",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
