@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Google Sans";
  src: url("./../fonts/GoogleSansFlex.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Rubik Moonrocks";
  src: url("./../fonts/RubikMoonrocks.ttf") format("truetype");
  font-display: swap;
}

:root {
  font-family:
    "Inter",
    "Google Sans",
    "Roboto",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  margin: 0;
  min-height: 100vh;
}

header {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 87px;
  border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}
header > h1 {
  font-family: "Rubik Moonrocks", "Inter", "Roboto", "Google Sans";
  color: white;
  background-color: blue;
  padding: 5px 10px;
  border-radius: 10px;
}
header > button#theme-toggle-button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 30px;
  background-image: url("./../icons/menu-black-30.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-origin: border-box;
  background-color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(128, 128, 128, 0.5);
}
footer > p {
}
