@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Google Sans";
  src: url("./../fonts/GoogleSansFlex.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Rubik Moonrocks";
  src: url("./../fonts/RubikMoonrocks.ttf") format("truetype");
  font-display: swap;
}

:root {
  font-family:
    "Roboto",
    "Inter",
    "Google Sans",
    system-ui,
    -apple-system;
  box-sizing: border-box;
}

html[data-theme="light"] {
  --heading-background-color: blue;
  --heading-border: none;
  --menu-button-src: url("./../icons/menu-black-30.svg");
  --menu-button-bg: white;
  --main-bg-color: rgb(243, 244, 246);
  --input-placeholder: gray;
  --button-hover-border: none;
  --navigation-links: oklch(44.6% 0.03 256.802);
  --toggle-big-bg: url("./../icons/light-50-black.svg");
}
html[data-theme="dark"] {
  --heading-background-color: black;
  --heading-border: 2px solid white;
  --menu-button-src: url("./../icons/menu-white-30.svg");
  --menu-button-bg: black;
  --main-bg-color: rgb(27, 27, 27);
  --input-placeholder: rgb(189, 189, 189);
  --button-hover-border: 2px solid blue;
  --button-hover-shadow: 2px 2px 2px blue, -2px -2px 2px blue;
  --navigation-links: rgb(255, 255, 255, 0.8);
  --toggle-big-bg: url("./../icons/dark-50-white.svg");
}
html {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
  display: grid;
  margin: 0;
  min-height: 100vh;
}
input {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
  border: 2px solid gray;
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
  outline: none;
  border: 2px solid;
  box-shadow:
    2px 2px 2px skyblue,
    -2px -2px 2px skyblue;
}

input::placeholder {
  color: var(--input-placeholder);
}

button:hover,
a.button:hover {
  border: var(--button-hover-border);
  box-shadow: var(--button-hover-shadow);
  transform: translateY(-1px) scaleY(1.05);
}

button:focus,
button:focus-visible,
a.button:focus,
a.button:focus-visible {
  transform: translateY(1px) scaleY(1);
}

/* header styles */
header {
  border-bottom: 3px solid rgba(185, 184, 184, 0.5);
}
.nav-big-screen {
  display: none;
}
.header-wrapper {
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
}

.header-wrapper > div:nth-of-type(1) {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.header-wrapper h1#logo {
  font-family: "Rubik Moonrocks", "Inter", "Roboto", "Google Sans";
  color: white;
  background-color: var(--heading-background-color);
  border: var(--heading-border);
  padding: 5px 10px;
  border-radius: 10px;
}
.header-homepage-logo-link {
  text-decoration: none;
  height: min-content;
}

.header-homepage-logo-link:visited {
  color: inherit;
}

.hidden {
  display: none !important;
}

/* header menu btn */
.header-wrapper button#header-menu-button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 30px;
  background-image: var(--menu-button-src);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-origin: border-box;
  background-color: var(--menu-button-bg);
}

.header-wrapper nav#header-nav {
  display: grid;
  grid-template-columns: 1fr;
}
nav#header-nav > a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

nav#header-nav > button#theme-toggle {
  background-color: inherit;
  border: none;
  font-size: 1rem;
  margin: 5px auto;
  padding: 10px;
}

.nav-big-screen > .navigation-links a:hover {
  border-bottom: 2px solid skyblue;
}

/* footer styles */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid rgba(185, 184, 184, 0.5);
}

form {
  max-width: 500px;
  margin: 0px auto;
}
/* common main element styles in all pages */
main {
  display: flex;
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  align-items: stretch;
}

.main-wrapper {
  margin: 0px auto;
  width: 100%;
  padding: 0px 10px;
}

/* tablet breakpoint  */
@media screen and (min-width: 768px) {
  .header-wrapper nav#header-nav {
    display: none;
  }
  .main-wrapper {
    max-width: 700px;
    margin: 0px auto;
  }
  .header-wrapper {
    max-width: 800px;
    margin: auto;
  }
  .header-wrapper > div:nth-of-type(1) {
    justify-content: space-evenly;
  }

  .header-wrapper h1#logo {
    margin-right: auto;
  }
  form {
    min-width: 450px;
  }
  .header-wrapper button#header-menu-button {
    display: none;
  }

  /* nav element visible only in big screens */
  .nav-big-screen {
    display: flex;
    justify-content: space-around;
    flex: 1;
  }
  .nav-big-screen a {
    text-decoration: none;
    color: inherit;
  }
  .nav-big-screen a:visited {
    text-decoration: none;
    color: inherit;
  }
  .navigation-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    gap: 15px;
    font-size: 1.1rem;
    color: var(--navigation-links);
  }
  #theme-toggle-big {
    margin-left: auto;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: inherit;
    background-image: var(--toggle-big-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    border: none;
    outline: none;
  }
}
