html[data-theme="light"] {
  --log-in-bg: white;
  --log-in-border: 1px solid rgba(185, 184, 184, 0.5);
  --input-bg: rgb(232, 240, 253);
  --log-in-label: rgb(83, 83, 83);
  --input-border: 1px solid rgb(128, 128, 128, 0.5);
  --submit-bg: rgb(0, 166, 63);
  --sign-up-bgimg: none;
}
html[data-theme="dark"] {
  --sign-up-bgimg: linear-gradient(
    to right,
    #4b6cb7 0%,
    #182848 51%,
    #4b6cb7 100%
  );
  --log-in-bg: black;
  --input-border: 1px solid white /* --input-bg: grey; */;
  --log-in-border: 1px solid rgb(211, 208, 208, 0.5);
  --submit-bg: none;
  --submit-border: 1px solid rgb(255, 255, 255, 0.5);
}
.signup-form-info > * {
  text-align: center;
}

#sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  background-color: var(--log-in-bg);
  padding: 30px 20px;
  border: var(--log-in-border);
  border-radius: 8px;
}

#sign-up-form > div {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

#sign-up-form input {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
  background-color: var(--input-bg);
  border: var(--input-border);
}

#sign-up-form label {
  color: var(--log-in-label);
}
#sign-up-form button {
  font-size: 1rem;
  padding: 8px;
  background-color: var(--submit-bg);
  background-image: var(--sign-up-bgimg);
  color: white;
  font-weight: 700;
  border-radius: 8px;
  border: var(--submit-border);
}

.login-link {
  text-align: center;
}

.auth-errs {
  background-color: oklch(93.6% 0.032 17.717);
  color: oklch(50.5% 0.213 27.518);
  /* padding: 0px 10px; */
  border-radius: 8px;
  border: 1px solid oklch(88.5% 0.062 18.334);
}

.required-tag {
  color: red;
}
